body{
	background-color:  #EDD5B9;
}
.bold{
	background-color: #E7A75F;
	color: #fff;
}

.tonmoy{
	width: 90%;
	margin: auto;
	padding-top: 20px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  overflow: hidden;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}